/* body{background-color: red;}  */

body{margin: 50px 0 0 0; background-color: silver;
background-image: url(../images/pattern_gray.png);}
h1{background: #fff; padding: 5px; text-align: center; margin-bottom: 30px; border-top: 1px solid #000; border-bottom: 5px solid #000;}

#faqBox h2{color: #ffffff; font-size: 20px; border-bottom: 1px solid #ffffff; border-bottom-style: dashed; padding-bottom: 10px; padding-left: 20px;}

#faqBox dt{margin-left: 20px; margin-bottom: 10px; background: #000; font-weight: bold; padding: 5px; border-radius: 5px;}
#faqBox dt:before{content: 'Q...'; color: #ccff66; font-size:17px; }
#faqBox dd{margin: 5px 30px; padding: 5px; text-align: justify;}
#faqBox dd:before{content: 'A...'; color: #ffff99; font-size: 17px; font-weight: bold;}
