/* body{background-color: red;}  */

body{margin: 50px 0 0 0; background-color: silver;
background-image: url(../images/pattern_gray.png);}
h1{background: #fff; padding: 5px; text-align: center; margin-bottom: 30px; border-top: 1px solid #000; border-bottom: 5px solid #000;}

#faqBox{font: 0.95em '맑은 고딕', 돋움; line-height: 150%; color: #fff; width:500px; padding: 10px; margin: 0 auto; background: #666; border: 2px solid #fff; border-radius: 10px; box-shadow: 0px 0px 20px #000;}
