/* body{background: red;} */
#header{width: 1000px; height: 400px; margin: 0 auto; background: yellow; position: relative;}
.box1{width: 100px; height: 100px; background: red;}
.box2{width: 100px; height: 100px; background: green; position: absolute; right: 200px; bottom: 0px;}
.box3{width: 100px; height: 100px; background: blue;}

