/* body{background-color: red;} */

body{text-align: center;}
a{color: white; background-color: black;}
h1{background-color: #69008c; color: #ffffff; padding: 10px;}
h2{background-color: #ff0000; color: #ffffff; padding: 5px;}

li{width: 200px; margin: 0 auto;}