/* body{background-color: red;} */
.cookTitle1{background-color: #ff0033; color: #ffffff; padding: 5px; border: 1px solid #000000; margin-left: 20px;}
.cookTitle2{background-color: #ffac33; padding: 5px; border: 1px solid #ff0000; margin-left: 20px;}