/* body{background-color: red;} */

 #healthBox1 h2{color: #ffffff; font-family: '맑은 고딕', '돋움', sans-serif; background-color: #ff0066; padding: 5px; width: 50px;}
 #healthBox2 p{font-size: 12px; font-family: '맑은 고딕', '돋움체', sans-serif; line-height: 150%; width: 400px; background-color: #eeeeee;}

