/* body{background: red;} */

.parent{position: relative; background: yellow; }
.child{width: 200px; height: 100px; background: red;}
.last{background: #0000ff; height: 150px;}

.clear{clear: both; height: 0; }










.fl{float: left;}

.cf:after{content: ''; display: block; clear: both;}
