/* body{background: red;} */
*{margin: 0; padding: 0; border: 0; list-style: none;}
a{text-decoration: none; color: #666323; display: block;}

.cf:after{content: ''; display: block; clear: both;}
.fl{float: left;}
.hidden{text-indent: -9999em; font-size: 0; text-overflow: hidden; position: absolute; left: -1000px; color: #ffffff;}

/* 레이아웃 */
#wrap{width: 1000px; height: 600px; margin: 50px auto;}

#header{float: left; width: 200px; height: 600px; background: #ffffff;}
	.logo{width: 100%; height: 80px; background: #ffffff; margin-top: 10px;}
	.nav{width: 100%; height: 510px;}
	.nav>ul>li>a{width: 200px; height: 70px; padding: 3px 0px; text-align: center; background: #004066; line-height: 70px; margin-bottom: 2px; border-radius: 5px 0 0 5px; font-weight: bold;}
	.nav>ul>li>a:hover{color: #ffffff; background: #265cff; transition: all .3s;}
	.nav .sub{display: none;}
	.nav .sub li a{width: 200px; height: 70px; padding: 3px 0px; text-align: center; background: #eeeeee; line-height: 70px; margin-bottom: 2px; border-radius: 5px 0 0 5px; font-weight: bold;}
	.nav .sub li a:hover{color: #004066; background: #f8e17a; transition: all .3s;}

#main_wrap{float: left; width: 800px; height: 600px;}
	#banner{width: 100%; height: 350px; position: relative; overflow: hidden;}
	#banner ul{width: 100%;}
	#banner ul li{position: absolute; left: 0; top: 0;}
	#banner ul li:nth-child(1){opacity: 1;}
	#banner ul li:nth-child(2){opacity: 0;}
	#banner ul li:nth-child(3){opacity: 0;}
	
	#contents{width: 100%; height: 200px; background: #eeeeee;}
	#contents > article{float: left; height: 180px; margin-left: 10px; margin-top: 10px;}
	#contents .content1{width: 378px;}
		.content1 .tab_menu ul li a{float: left; width: 100px; height: 30px; background: #004066; text-align: center; font-size: 16px; font-weight: bold; color: #ffffff; margin-right: 4px; border-radius: 5px 5px 0 0;}
		.content1 .tab_menu ul .active a{color: #ffe000;}
		.tab_contents > div{width: 378px; height: 150px; background: #ffffff; border: 1px solid #004066;  box-sizing: border-box; letter-spacing: -1px; position: absolute;}
		.tab_contents .board ul{padding: 10px;}
		.tab_contents .board ul li:first-child{text-align: center; font-size: 14px; font-weight: bold; border-bottom: 1px solid #aaaaaa;}
		.tab_contents .board ul li a{width: 80%; float: left; letter-spacing: -1px; font-size: 13px; text-align: left; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; line-height: 1.7;}
		.tab_contents .board ul li span{width: 20%; float: right; letter-spacing: -1px; font-size: 13px; text-align: center;}
		
		.gallery{display: none;}
		.gallery ul{padding: 20px;}
		.gallery ul li{float: left; width: 100px; height: 120px; margin-right: 12px; font-size: 12px; text-align: center;}	
	#contents .content2{width: 190px;}
	#contents .content3{width: 190px;}
		.content3 ul li{border-bottom: 1px solid #aaaaaa;}
		.content3 ul li:last-child{border-bottom: none;}
		.content3 ul li img{vertical-align: middle; padding-right: 7px;}
		.content3 ul li a{font-size: 17px; text-align: center; width: 190px; height: 60px; line-height: 60px;}

#footer{width: 100%; height: 50px; background: #aaaaaa;}
	#footer > div{float: left;}
	.f_logo{width: 180px; height: 50px; margin: 0 auto;}
	.f_private{width: 110px; height: 50px; margin-left: 10px;}
	.f_private ul li{font-size: 8.5px; line-height: 2; color: #ffffff;}
	.f_copy{width: 440px; height: 50px;}
	.f_copy address{padding-top: 7px;}
	.f_copy p{font-size: 8.5px; line-height: 1.4; color: #ffffff; letter-spacing: -1px;}

.pop{position: absolute; z-index: 88; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,.2); display: none;}
.pop .pop_wrap{width: 500px; height: 500px; position: relative; top: 50%; left: 50%; transform: translate(-50%,-50%); background: #ffffff; padding: 30px; box-sizing: border-box; border: 4px solid #00468c;}
.pop h2{padding-top: 40px; text-align: center; font-size: 17px; color: #0a0652;}
.pop h3{padding-top: 30px; text-align: center; font-size: 15px;}
.pop p{padding-top: 50px; font-size: 16px; line-height: 2; text-align: center; font-weight: bold;}
.pop button{position: absolute; right: 50px; bottom: 50px; background: #00468c; width: 100px; height: 50px; border: none; cursor: pointer; border-radius: 5px; color: #ffffff;}


























